			<div class="row c about">
				<div class="col-md-12">
					<ul class="list-unstyled headmenu">
						<li><a href="#union">ABOUT &quot;union&quot;</a></li>
						<li><a href="#charity">ABOUT &quot;Charity&quot;</a></li>
					</ul>
					<h2 id="union">{{.Title}}<small>二つの会場を舞台に、都内で活躍する18パーティーが集結！<br>21名のアーティストが集う、チャリティー パーティーを開催！</small></h2>
					<h3><div class="white">&quot;union&quot; OF TOKYO DRUM&BASS, AND CHARITY PARTY</div>8.1 [FRI] @ GLAD + LOUNGE NEO</h3>
					<p>ここ東京でドラムンベースの低音が鳴り響き始めてから、間もなく20年余り… 多くのパーティーが生まれ、そしてフロアを歓喜の渦に巻き込んできた。しかし、この長い年月の間でも、未だ実現されていないパーティーがひとつある。それは、東京ローカル シーンで活躍するパーティーが集結した、いわば &quot;THE 東京ドラムンベース パーティー&quot; と呼べるパーティーである。その実現への挑戦はこれまでにも行われてきたが、サウンドの趣向や方向性の違い、世代の垣根など様々な壁に阻まれて実現に至らなかった。</p>
					<p>東京ドラムンベースのスタートから間もなく20年余りとなる2014年の夏、東京を拠点に活躍する18ものパーティーと、それぞれのパーティーを代表するレジデント アーティスト… つまりTHE 東京ドラムンベースが、遂に初めて &quot;union (集結)&quot; する！</p>
					<p>この union は、東京ドラムンベース シーンが一体となることによって、純粋にドラムンベースそのものを楽しんでもらうこと、そしてドラムンベースの力で少しでも社会に還元すること、このふたつを目的としたチャリティー パーティー (※) という形態で開催します。つまり、パーティーの開催とアーティストの出演は、ドラムンベースへの想いと善意による無償のもので、そしてパーティーの売上の利益すべては寄付されます。</p>
					<p>また、現在のドラムンベースは、サイバー・リキッド・ジャンプアップ・ディープ… と音の傾向によりジャンルが細分化され、熱狂的なドラムンベース ラバーであっても普段からすべてのジャンルを網羅している人は少ないはず。そんな多彩なドラムンベース サウンドを一晩で体感できること、そしてそれらに集う人々が細分化された垣根を越えて融合することができること、これも union の魅力の一つである。</p>
					<p>パーティーの union、音の union、そして人の union。2014年8月1日 金曜日、東京ドラムンベース シーンが長い年月を超えて、遂にひとつとなる！！</p>

					<ul class="list-unstyled time_fee">
						<li><span>OPEN</span> 23:00-</li>
						<li><span>DOOR</span> ¥2000</li>
					</ul>
					<p class="small">※ 本パーティーは、チャリティー パーティーとなります。売上の利益のすべては寄付されます。</p>

					<ul class="list-unstyled links">
						<li>union OFFICIAL WEBSITE<span>union-tokyo.com</span></li>
						<li>union FACEBOOK<a href="https://www.facebook.com/union.Tokyo">facebook.com/union.Tokyo</a></li>
						<li>union TWITTER<a href="https://twitter.com/union_Tokyo">twitter.com/union_Tokyo</a></li>
					</ul>

					<ul class="list-unstyled links mobile">
						<li>union OFFICIAL WEBSITE</li>
						<li><a href="https://www.facebook.com/union.Tokyo">union FACEBOOK</a></li>
						<li><a href="https://twitter.com/union_Tokyo">union TWITTER</a></li>
					</ul>

					<div class="control clearfix"><a href="#top">TOP</a></div>
					<h2 id="charity">&quot;union&quot; のチャリティー寄付先についてのお知らせ</h2>
					<p>8月1日(金) に開催される union は、東京ドラムンベース シーンが一体となることによって、純粋にドラムンベースそのものを楽しんでもらうこと、そしてドラムンベースの力で少しでも社会に還元すること、このふたつを目的としたチャリティー パーティーという形態で開催いたします。そのため、すべてのアーティストの出演はドラムンベースへの想いと善意による &quot;無償&quot; の出演となり、パーティー開催による売上の利益すべてを寄付いたします。</p>
					<p>そしてその寄付金は、『これまで私たちがそれぞれに表現し続けて来た &quot;音楽&quot;。その &quot;音楽&quot; の力で、未来の為にできることは何かないだろうか。』と考えた時に出会った、音楽活動を通した復興支援に携わる『子どもの音楽再生基金』に寄付いたします。</p>

					<h3><div class="banner"><a href="http://www.schoolmusicrevival.org/">www.schoolmusicrevival.org</a></div>『子どもの音楽再生基金』とは？</h3>
					<p>音楽家・坂本龍一氏をはじめとするメンバーによって発足された、東日本大震災の被災地の幼稚園・小学校・中学校・高校に対して楽器関連の復興支援を行うためのプロジェクト『School Music Revival』による基金、それが『子どもの音楽再生基金』です。これは楽器業界として全国楽器協会に設立された復興支援基金となります。</p>
					<p>東日本大震災のすぐ後に発足され、3年間で約1億5千万円もの募金が集まり、これまでに約1,800の学校に学校楽器備品の点検・補修・修理支援、修理不能な楽器の購入費用支援、そして被災地での音楽活動支援などが行われ、未来ある子ども達に音楽と楽器の力で笑顔を届けることを目的として活動されています。</p>
					<p></p>

					<ul class="list-unstyled links">
						<li>坂本龍一氏からのメッセージ<a href="http://www.schoolmusicrevival.org/message.html">www.schoolmusicrevival.org/message.html</a></li>
						<li>賛同アーティスト達からのメッセージ<a href="http://www.schoolmusicrevival.org/message_extra.html">www.schoolmusicrevival.org/message_extra.html</a></li>
						<li>こどもの音楽再生基金<a href="http://www.schoolmusicrevival.org">www.schoolmusicrevival.org</a></li>
					</ul>

					<ul class="list-unstyled links mobile">
						<li><a href="http://www.schoolmusicrevival.org/message.html">坂本龍一氏からのメッセージ</a></li>
						<li><a href="http://www.schoolmusicrevival.org/message_extra.html">賛同アーティスト達からのメッセージ</a></li>
						<li><a href="http://www.schoolmusicrevival.org">こどもの音楽再生基金</a></li>
					</ul>


					<h3>&quot;音楽&quot; の力で、未来の為にできること</h3>

					<p>8月1日(金) に渋谷 Glad と LOUNGE NEO の二つの会場にて開催される、union での売上の利益すべてを『子どもの音楽再生基金』に寄付いたします。寄付金は、被災地の幼稚園・小学校・中学校・高校に対して楽器関連の復興支援や、今年8月に仙台市で開催予定の『School Music Revival Live 2014』など被災地での音楽活動支援を中心に活用されます。&quot;ドラムンベース&quot; という &quot;音楽&quot; の力で、未来の為にできること。ひとりでも多くの子ども達に、音楽を通して歓びや笑顔を届けられるよう、皆様のご理解とご協力をお願いいたします。</p>
					<div class="control clearfix"><a href="#top">TOP</a></div>
				</div>
			</div><!-- /.row -->
