			<div class="row c artist_all">
				<div class="col-md-12">
					<h3>ROOM 1</h3>
					<ul class="list-unstyled">
						<li><a href="/artist/makoto/">MAKOTO</a><small>HUMAN ELEMENTS</small></li>
						<li><a href="/artist/dx">DX</a><small>SOI</small></li>
						<li><a href="/artist/ena/">ENA</a></li>
						<li><a href="/artist/satoshi/">SATOSHI</a><small>HANGOVER</small></li>
						<li><a href="/artist/itti/">ITTI</a><small>FUTURE FORCES</small></li>
						<li><a href="/artist/halu/">HALU</a><small>INDIGO</small></li>
					</ul>

					<h3>ROOM 2</h3>
					<ul class="list-unstyled">
						<li><a href="/artist/largemouth/">LARGE MOUTH</a><small>JUNGLE SCAPE</small></li>
						<li><a href="/artist/hshiratori/">H.SHIRATORI</a><small>TOPOLOZY</small></li>
						<li><a href="/artist/medico/">MEDICO</a><small>SPROUT</small></li>
						<li><a href="/artist/timeslut/">TIMESLUT</a><small>BASSICK</small></li>
						<li><a href="/artist/mahiru/">MAHIRU</a><small>DNB CHOUNAIKAI</small></li>
						<li><a href="/artist/gallo/">GALLO</a><small>URBAN NATURE</small></li>
					</ul>

					<h3>ROOM 3</h3>
					<ul class="list-unstyled">
						<li><a href="/artist/asamoto/">HIROFUMI ASAMOTO</a><small>BARRICADE</small></li>
						<li><a href="/artist/chami/">CHAM+I</a><small>NEON</small></li>
						<li><a href="/artist/kmtr/">KMTR</a><small>BASS FUSION</small></li>
						<li><a href="/artist/aya/">AYA</a><small>CYM-PA</small></li>
						<li><a href="/artist/megsis/">MEGSIS</a><small>AQUANAUTS</small></li>
						<li><a href="/artist/arumakan/">ARUMAKAN</a><small>ARIJUANA</small></li>
					</ul>

					<h3>MC</h3>
					<ul class="list-unstyled">
						<li><a href="/artist/key/">KEY MC</a></li>
						<li><a href="/artist/shine/">SHINE</a></li>
						<li><a href="/artist/stone/">STONE</a></li>
					</ul>
					<h3>SOUND SYSTEM</h3>
					<ul class="list-unstyled">
						<li><span>BROAD AXE SOUND SYSTEM</span></li>
					</ul>
				</div>
			</div><!-- /.row -->
