			<div class="row c interview">
				<div class="col-md-12">
					<h3>INTERVIEW</h3>
					<p class="head">8月1日(金)に開催される union。<br>その総出演者21名へのインタビューをご紹介！<small>今に至るバックグラウンドや現在の活動など、それぞれの過去・現在・未来を語る貴重なインタビュー！</small></p>
					<ol>
						<li><a href="/column/interview/makoto/">MAKOTO<span>(HUMAN ELEMENTS)</span></a></li>
						<li><a href="/column/interview/mahiru/">MAHIRU<span>(DNB CHOUNAIKAI)</span></a></li>
						<li><a href="/column/interview/aya/">AYA<span>(CYM-PA)</span></a></li>

						<li><a href="/column/interview/ena/">ENA</a></li>
						<li><a href="/column/interview/hshiratori/">H.SHIRATORI<span>(TOPOLOZY)</span></a></li>
						<li><a href="/column/interview/kmtr/">KMTR<span>(BASS FUSION)</span></a></li>

						<li><a href="/column/interview/satoshi/">SATOSHI<span>(HANGOVER)</span></a></li>
						<li><a href="/column/interview/timeslut/">TIMESLUT<span>(BASSICK)</span></a></li>
						<li><a href="/column/interview/arumakan/">ARUMAKAN<span>(ARIJUANA)</span></a></li>

						<li><a href="/column/interview/asamoto/">HIROFUMI ASAMOTO<span>(BARRICADE)</span></a></li>
						<li><a href="/column/interview/medico/">MEDICO<span>(SPROUT)</span></a></li>
						<li><a href="/column/interview/halu/">HALU<span>(INDIGO)</span></a></li>

						<li><a href="/column/interview/key/">KEY MC<span>(HUMAN ELEMENTS)</span></a></li>
						<li><a href="/column/interview/shine/">SHINE</a></li>
						<li><a href="/column/interview/stone/">STONE</a></li>

						<li><a href="/column/interview/itti/">ITTI<span>(FUTURE FORCES)</span></a></li>
						<li><a href="/column/interview/largemouth/">LARGE MOUTH<span>(JUNGLE SCAPE)</span></a></li>
						<li><a href="/column/interview/chami/">CHAM+I<span>(NEON)</span></a></li>

						<li><a href="/column/interview/dx/">DX<span>(SOI)</span></li>
						<li><a href="/column/interview/gallo/">GALLO<span>(URBAN NATURE)</span></li>
						<li><a href="/column/interview/megsis/">MEGSIS<span>(AQUANAUTS)</span></li>
					</ol>
					<div class="control">
						<a href="#top">TOP</a>
					</div>
				</div>
			</div><!-- /.row -->
