			<div class="row c column">
				<div class="col-md-12">
					<h3>COLUMN</h3>
					<ul class="list-unstyled">
						<li><a href="/column/interview/">INTERVIEW</a></li>
						<!--
						<li><a href="/column/history/">HISTORY OF TOKYO DRUM&BASS</a></li>
						-->
					</ul>
				</div>
			</div><!-- /.row -->
