			<div class="row c report">
				<div class="col-md-12">
					<ul class="list-unstyled headmenu">
						<li><a href="#charity">REPORT &quot;Charity&quot;</a></li>
						<li><a href="#union">REPORT &quot;union&quot;</a></li>
					</ul>
					<h2 id="charity">{{.Title}}</h2>
					<p>多くの方々にご来場を頂きましたが、我々 主催者側の力不足もあり、支出の諸経費などを踏まえ決算をしたところ結果的には赤字決算となりました。この結果を受け止め、今後より改善させて行きたいと考えております。</p>
					<p>そのような中、今回の会場となった Glad 様と LOUNGE NEO 様から、本パーティーがチャリティー開催であったこと・今後への期待、それらの意味も込め Bar 売上より売上金の一部 &yen;27,000- を頂きました。</p>
					<p>この &yen;27,000- の全額を今回の寄付金とし、『こどもの音楽再生基金』に寄付致したことをご報告させて頂きます。</p>
					<p>
						<img class="pc" src="/assets/img/receipt.jpg" width="350" height="479">
						<img class="mobile" src="/assets/img/receipt.jpg" width="299" height="396">
					</p>
					<h2 id="union">Report Movie - "union" of Tokyo D&amp;B - 2014.8.1 (Friday)</h2>

					<iframe class="pc" width="870" height="489" src="//www.youtube.com/embed/FX9d7H4dazc?rel=0&amp;showinfo=0&amp;autoplay=0" frameborder="0" allowfullscreen></iframe>
					<iframe class="mobile" width="290" height="163" src="//www.youtube.com/embed/FX9d7H4dazc?rel=0&amp;showinfo=0&amp;autoplay=0" frameborder="0" allowfullscreen></iframe>
					<h2 class="photo">Report Photo - "union" of Tokyo D&amp;B - 2014.8.1 (Friday)</h2>
					<p>
						<a href="https://www.facebook.com/media/set/?set=a.296656877193113.1073741830.258020577723410"><img class="pc" src="/assets/img/report_ph.jpg" width="870" height="870"></a>
						<a href="https://www.facebook.com/media/set/?set=a.296656877193113.1073741830.258020577723410"><img class="mobile" src="/assets/img/report_ph.jpg" width="290" height="290"></a>
					</p>
					<div class="control clearfix"><a href="#top">TOP</a></div>
				</div>
			</div><!-- /.row -->
