			<div class="row a top">
				<div class="col-md-9">
					<small class="date">{{.Date}}</small>
					<h2>{{.Title}}</h2>
					<p class="flyer">"union" OF TOKYO DRUM&amp;BASS, AND CHARITY PARTY</p>

					<h3>2014.8.1 [FRIDAY] @ <a href="">GLAD</a> + <a href="">LOUNGE NEO</a></h3>

					<h5>ROOM 1</h5>
					<ul class="list-unstyled">
						<li><a href="/artist/makoto/">MAKOTO</a><small>[HUMAN ELEMENTS]</small></li>
						<li><a href="/artist/dx">DX</a><small>[SOI]</small></li>
						<li><a href="/artist/ena/">ENA</a></li>
						<li><a href="/artist/satoshi/">SATOSHI</a><small>[HANGOVER]</small></li>
						<li><a href="/artist/itti/">ITTI</a><small>[FUTURE FORCES]</small></li>
						<li><a href="/artist/halu/">HALU</a><small>[INDIGO]</small></li>
					</ul>

					<h5>ROOM 2</h5>
					<ul class="list-unstyled">
						<li><a href="/artist/largemouth/">LARGE MOUTH</a><small>[JUNGLE SCAPE]</small></li>
						<li><a href="/artist/hshiratori/">H.SHIRATORI</a><small>[TOPOLOZY]</small></li>
						<li><a href="/artist/medico/">MEDICO</a><small>[SPROUT]</small></li>
						<li><a href="/artist/timeslut/">TIMESLUT</a><small>[BASSICK]</small></li>
						<li><a href="/artist/mahiru/">MAHIRU</a><small>[DNB CHOUNAIKAI]</small></li>
						<li><a href="/artist/gallo/">GALLO</a><small>[URBAN NATURE]</small></li>
					</ul>

					<h5>ROOM 3</h5>
					<ul class="list-unstyled">
						<li><a href="/artist/asamoto/">HIROFUMI ASAMOTO</a><small>[BARRICADE]</small></li>
						<li><a href="/artist/chami/">CHAM+I</a><small>[NEON]</small></li>
						<li><a href="/artist/kmtr/">KMTR</a><small>[BASS FUSION]</small></li>
						<li><a href="/artist/aya/">AYA</a><small>[CYM-PA]</small></li>
						<li><a href="/artist/megsis/">MEGSIS</a><small>[AQUANAUTS]</small></li>
						<li><a href="/artist/arumakan/">ARUMAKAN</a><small>[ARIJUANA]</small></li>
					</ul>

					<h5>MC</h5>
					<ul class="list-unstyled">
						<li><a href="/artist/key/">KEY MC</a><small>[HUMAN ELEMENTS]</small></li>
						<li><a href="/artist/stone/">STONE</a></li>
						<li><a href="/artist/shine/">SHINE</a></li>
					</ul>

					<h5>SOUND SYESTEM</h5>
					<ul class="list-unstyled">
						<li><span>BROAD AXE SOUND SYSTEM</span></li>
					</ul>


                 	<ul class="list-unstyled time_fee">
                        <li><span>OPEN</span> 23:00-</li>
                        <li><span>DOOR</span> ¥2000</li>
                    </ul>
                    <p class="small">※ 本パーティーは、チャリティー パーティーとなります。売上の利益のすべては寄付されます。</p>
					<ul class="list-unstyled links">
                        <li>union OFFICIAL WEBSITE<span>union-tokyo.com</span></li>
                        <li>union FACEBOOK<a href="https://www.facebook.com/union.Tokyo">facebook.com/union.Tokyo</a></li>
                        <li>union TWITTER<a href="https://twitter.com/union_Tokyo">twitter.com/union_Tokyo</a></li>
                    </ul>
                 	<ul class="list-unstyled headmenu">
                        <li><a href="/about/#union">ABOUT &quot;union&quot;</a></li>
                        <li><a href="/about/#charity">ABOUT &quot;Charity&quot;</a></li>
                    </ul>
					</p>
					<div class="control">
						<a href="#top">TOP</a>
					</div>
				</div>
				<div class="col-md-3 content_sub">
					<h5>PAST POSTS</h5>
					<ul class="list-unstyled" class="list-unstyled">
						<li><a href="/">22 JUL 2014 TUE</a></li>
					</ul>
				</div>
			</div><!-- /.row -->
